html {
    box-sizing: border-box;
}

.product {
    width: 284px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 20px;
    padding-top: 9px;
    background-color: #fff;
}

pruduct-image, img {
    overflow: hidden;
    position: relative;
    display: block;
    height: 162px;
}

.product-title a {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px; 
    line-height: 20px;
    color: #e95815;
}
h3, a {
    text-align: left;
}

.product-props {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    
}

.reviews {
padding-left: 20px;
}

.product-rating, img {
    fill: currentColor;
    margin-right: 8px;
}

svg:not(:root) {
    overflow: hidden;
}

.product-props .stars {
    display: inline-block;
    height: 16px;
    margin-right: 2px;
    width: 16px;
}

svg {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.available-sign {
    fill: green;
}

.available {
    text-align: center;
}

.product-price {
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block;
    color: red;
    line-height: 1;
    font-weight: 600;
    position: relative;


}

.product-button {
    margin-top: 10px;
    height: 48px;
    padding-left: 0;
    padding-right: 0;
    width: 100%!important;
    background-color: #ffce00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.product-button {
    transition-duration: 0.2s;
}

.product-button:hover {
    background-color: rgb(232, 232, 54);
}

.addToCart {
    display: block;
    align-items: center;
    justify-content: center;
}

.bag-logo img {
    max-height: 14px;
    max-width: 14px;
    margin-right: 4px;
    display: inline-block;
}

.seller {
    padding-top: 10px;
    position: relative;
    left: 2px;

}